<form class="wrapper" #noticeForm='ngForm' (ngSubmit)="editNotice(noticeForm)">
    <div class="card radius shadowDepth1">
        <div class="card__content card__padding">
            <h3>Edit notice</h3>
            <div class="form-group">
                <label for="noticeAuthor">Name</label>
                <input 
                    class="form-control" 
                    id="noticeAuthor" 
                    ngModel="{{prepopulate?.author}}"
                    name="author">
            </div>

            <div class="form-group">
                <label for="noticeTitle">Notice Title</label>
                <input 
                    class="form-control" 
                    id="noticeTitle" 
                    ngModel="{{prepopulate?.title}}"
                    name="title">
            </div>
            
            <div class="form-group">
                <label for="noticeContent">Notice</label>
                <textarea 
                    class="form-control" 
                    id="noticeContent" 
                    rows="3"
                    ngModel="{{prepopulate?.notice}}"
                    name="notice"></textarea>
            </div>
            <div class="btn-wrapper">
                <button 
                    type="submit" 
                    class="btn btn-primary">Edit
                </button>
            </div>
        </div>
    </div>
    
</form>